.form{
	color: #fff;
	background-color: $font;
	.container {
		background-image: url('../img/form_bg.png');
	    background-position: 10% 100%;
		background-repeat: no-repeat;
		padding: 85px 30px 102px;
		@include clearfix();
	}
	&__wrap{

	}
	&__title{
		margin-top: 40px;
		margin-bottom: 15px;
		@include font-size(18px);
	}
	&__introduction{
		position: relative;
	}
	&__phone{
		height: 54px;
		@include border-radius(5px)
		@include font-size(18px);
		padding:  14px 20px;
		outline: none;
		border: 3px solid #fff;
		width: 230px;
	    vertical-align: top;
		&:focus{
			border: 3px solid $accent;
		}
	}
	&__submit{
	    vertical-align: top;
		height: 54px;
		margin-left: -50px;
		width: 300px;
	}
}
@media screen and (max-width: 1025px) {
	.form .container {
		background-size: 35%;
		padding: 70px 30px 80px;
	}
}
@media screen and (max-width: 769px) {
	.form .container {
	    background-position: -10% 100%;
	    background-size: 45%;
		padding: 55px 15px 60px;
	}
	.form .container-form {
		margin: 0 auto;
		float: none;
	}
}
@media screen and (max-width: 594px) {
	.form .container {
	    background-size: 60%;
	}

	.form {
		.form__introduction {
			text-align: center;
		}
		.form__phone {
			display: inline-block;
			width: 260px;
			margin-bottom: 15px;
		}
		.button {
			display: inline-block;
			margin-left: 0;
			max-width: 100%;
		}

	}
}
@media screen and (max-width: 470px) {
	.form .container {
	    background-size: 60%;
	    padding-bottom: 230px;
	}
}
