.header{
	min-height: 100vh;
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	.container {
		padding-top: 30px;
	}
	position: relative;
}
.top-line{
	display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
    -webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
    display: -webkit-flex; /* оптимизация для Safari */
    webkit-justify-content: space-between; /* оптимизация для Safari */
    display: flex;
    justify-content: space-between;
    text-align: justify; /* IE10-, Firefox 12-22 */
    text-align-last: justify; /* IE10-, Firefox 12-22 */
    align-items: center;
    -ms-text-align-last: justify;
    text-align-last: justify;
	&__logo{
	    display: inline-block;
	    display: -webkit-box; /* хак для Android 4.3-, должен идти после inline-block */
	    vertical-align: middle;
	}
	&__tel{
		@include font-size(30px);
		color: #fff;
		font-family: 'ubuntu';
		font-weight: 700;
	    display: inline-block;
	    display: -webkit-box; /* хак для Android 4.3-, должен идти после inline-block */
	    vertical-align: middle;
	    transition: color 0.25s;
	    &:hover {
	    	color: $intr_button_hover;
	    }
	}
}
.header-block{
	// @include vertical-align-abs();
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	transform: -webkit-translate(-50%);
	// right: 0;
	// margin:auto;
	// margin-top: -50%;
	max-width: 60%;
	@include font-size(18px);
    text-align: center;
    color: #fff;
    font-weight: 700;
    &__title{

    }
    &__title_small{
		text-transform: uppercase;
		margin-bottom: 	2px;
		margin-bottom: 20px;
    }
    &__title_big{
		@include font-size(54px);
		margin-bottom: 50px;
    }
    &__button{

    }
}
.button{
	@include border-radius(5px)
	@include font-size(18px);
	text-transform: uppercase;
	max-width: 300px;
	font-weight: 700;
	background-color: $intr_button;
	border-width: 3px;
	border-style: solid;
	border-color: $intr_button;
	padding:  15px 20px;
	transition: background-color, border-color 0.25s;
	&:hover{
		background-color: $intr_button_hover;
		border-color: $intr_button_hover;
	}
}
@media screen and (max-width: 1025px) {
	.top-line__logo{
		img{
			max-width:90%;
		}
	}
	.header-block__title_big{
		@include font-size(46px);
	}
	.top-line__tel{
		@include font-size(26px);
	}
}
@media screen and (max-width: 924px) {
	.top-line__logo{
		img{
			max-width:80%;
		}
	}
	.header-block{
		max-width:70%;
	}
	.top-line__tel{
		@include font-size(24px);
	}
}
@media screen and (max-width: 650px) {
	.top-line__logo{
		img{
			max-width:60%;
		}
	}
	.header-block{
		max-width:80%;
		width: 90%;
	}
}
@media screen and (max-width: 500px) {
	.top-line__logo{
		img{
			max-width:40%;
		}
	}
	.header-block{
		max-width:90%;
	}
	.header-block__title_big{
		@include font-size(36px);
	}
}
@media screen and (max-height: 680px) {
	.header-block {
		top: 30%;
	}
}