h1{
	font-size: 2em;

}
main{
		color: $font;
}
@include breakpoint(1024){
	h1{
		font-size: .2em;
	}
}
*{
	box-sizing:border-box;
}
.has-error{
	border: 3px solid $error !important;
	background-color: #fedbdb;
}
.tooltip-error{
	position: absolute;
	left:10%;
	color:$error;
}
.tooltip-success{
    position: absolute;
    color: #c62828;
    width: 81%;
    height: 54px;
    top: 0;
    left: 50%;
    margin-left: -243px;
    line-height: 54px;
    background: green;
    color: #fff;
    @include font-size(18px) ;
	font-family: 'ubuntu';
    font-weight: bold;
    @include border-radius(5px);
    &:before{
   		content:"";
   		position: absolute;
   		width: 21px;
   		height:16px;
   		background-image: url(../img/icons/check_w.svg);
   		background-size: cover;
   		background-repeat: no-repeat;
   		top: 20px;
   		margin-left: -30px;
    }

}
@media screen and (max-width: 769px) {
	.tooltip-error{
		left:50%;
		margin-left: -100px;
		bottom:-20px;
	}
}
@media screen and (max-width: 620px) {
	.tooltip-success{
		left:0;
		width: 100%;
		margin-left: 0;
	}
}
@media screen and (max-width: 569px) {
	.tooltip-success{
		left:50%;
		width: 260px;
	    margin-left: -130px;
	}
}
.container{
	max-width: 1200px;
	min-width: 320px;
	padding: 0 30px;
    margin: 0 auto;
    text-align: center;
}
.container-full{
	min-width: 320px;
	width: 100%;
	max-width: 1200px;
    margin: 0 auto;
}
.container-form{
	max-width:600px;
	float: right;
	margin-right: 85px;
}
.section-title{
	@include font-size(54px);
	color: $font;
	font-weight: 700;
	&_white{
		color:#fff;
	}
}

html,body {
	font-family: 'ubuntu';
	color: $font;
	min-width: 320px;
}

button, input, optgroup, select, textarea {
	font-family: 'ubuntu';
}

@media screen and (max-width: 1025px) {
	.section-title{
		@include font-size(48px);
	}
}

@media screen and (max-width: 769px) {
	.section-title{
		@include font-size(44px);
	}
	html,body {
		font-size: 14px;
	}
	.container{
		padding: 0 15px;
	}
}
@media screen and (max-width: 481px) {
	.section-title{
		@include font-size(36px);
	}
	html,body {
		font-size: 14px;
	}
}