.tricks {
	background: {
		color: #f8f7fa;
		position: center 100%;
		repeat: no-repeat;
		image: url('../img/tricks/logo.png');
	}
	.container {
		display: flex;
		flex-wrap: wrap;
	}
}
.tricks-opportunity {
	padding-left: 200px;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		content: '';
		background-image: url(../img/tricks/b.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 150px;
		height: 128px;
	}
	.text {
		font-size: 68px;
		font-weight: 700;
	}
	.accent {
		font-size: 48px;
		background-color: #000;
	}
}
.tricks-accent {
	.text {
		transform: rotate(-90deg);
		font-size: 24px;
		span {
			&:before {
				content: '';
				background-image: url(../img/tricks/lightning_l.svg);
				width: 25px;
				height: 45px;
				display: inline-block;
			}
			&:after {
				content: '';
				background-image: url(../img/tricks/lightning_r.svg);
				width: 25px;
				height: 45px;
				display: inline-block;
			}
		}
	}
}
.tricks-dynamic {
	font-size: 21px;
	font-weight: 700;
}