// @extend class
// блок на черном фоне с треуголиниками
.accent{
	font-family: 'Intro Head R Base';	
	background-color: #000;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1em;
    clip-path: polygon(0% 100%, 3% 50%, 0% 0%, 100% 0%, 97% 50%, 100% 100%);
}
// =========

.tricks {
	background: {
		color: #f8f7fa;
		position: center 100%;
		repeat: no-repeat;
		image: url('../img/tricks/logo.png');
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.tricks-opportunity {
	padding-left: 200px;
	position: relative;
	margin-top: 70px;					
	margin-bottom: 	40px;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		content: '';
		background-image: url(../img/tricks/b.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 150px;
		height: 128px;
	}
	p{
		position: relative;
		text-align: left;
		.accent{
			display: inline-block;	
			float: right;
			margin-top: 14px;
		}
	}
	.text {
		font-size: 68px;
		font-weight: 700;
		line-height: 1em;
	}
	.accent {
		@extend .accent;
		font-size: 48px;
		padding: 5px 50px;
	}
}

.tricks-accent {
	position: relative;
	width: 200px;
	.text {
		@extend .accent;
		position: absolute;
		height:100%;
		left:0;
		transform: rotate(-90deg);
		font-size: 24px;
		span {
			&:before {
				content: '';
				background-image: url(../img/tricks/lightning_l.svg);
				width: 25px;
				height: 45px;
				display: inline-block;
			}
			&:after {
				content: '';
				background-image: url(../img/tricks/lightning_r.svg);
				width: 25px;
				height: 45px;
				display: inline-block;
			}
		}
	}
}
.tricks-inner__wrap{
	width: 100%;
	.tricks-inner__first{
		display: flex;	
		justify-content: space-between;
		.tricks-dynamic__wrap{
			display: flex;
			flex-direction: column;
			width: 200px;
			min-width: 200px;
			.tricks-dynamic {
				font-size: 21px;
				font-weight: 700;
				padding:70px 0 35px 0;
				position: relative;
				text-align: left;
				margin-bottom: 30px;
				line-height: 26px;
				&:before{
					content:"";
					position: absolute;
					top:0;
					left:0;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;
					width: 100%;
					height:50px;
					background-image: url(../img/tricks/glasses.svg)
				}
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 6px;
					width: 100%;
					border-radius: 3px;
					background-color: #000;
				}
			}
			.tricks-immersion{
				font-weight: 400;
				font-size: 19px;
				padding: 0 0 40px 90px;
				text-align: left;
				position: relative;
				&:before{
					content:"";
					position: absolute;
					top:0;
					left:0;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: top center;
					width: 80px;
					height: 100%;
					background-image: url(../img/tricks/p.svg)	
				}
				&:after{
					content:"";
					position: absolute;
					bottom:0;
					left:0;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: top center;
					width: 30px;
					height: 25px;
					background-image: url(../img/tricks/wave.svg)
				}
				.text{
					    line-height: 25px;
					    margin-top: -5px;
					}
				}
			}
		}
		.tricks-video__wrap{
			display: flex;
			padding-left: 20px;
			padding-bottom: 32px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom:0;
				width: 100%;
				height:6px;
				border-radius: 3px;
				background-color: #000;
			}
			.tricks-video__block{
				// flex:1;
				#stopkadr{
					width: 100%;
					height:100%;
					padding-right:20px;
					img{
						width: 100%;
						height:100%;
					}
				}
			}
			.tricks-incredible{
				width: 280px;
				p.text{
					padding-top: 159px;
					position: relative;
					font-size: 31px;
					line-height: 44px;
					text-align: left;
					font-family: 'ubuntu';
					font-weight: bold;
					&:before{
						content: '';
						position: absolute;
						top:0;
						left:0;
						width: 145px;
						height:130px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						background-image: url(../img/tricks/n.svg)
					}
				}
			}
		}
	}
	.tricks-tactfulness{
		width: 	100%;
		min-width:100%;
		padding-left: 220px;
		position: relative;
		font-family: 'BERNIER Distressed';
		text-align: left;
		&:before{
			content: '';
			position: absolute;
			top:50%;
			left:8px;
			margin-top: -42px;
			width: 200px;
			height: 85px;
			background-image: url(../img/tricks/hand.svg);
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
		p.text{
			font-size: 32px;
			margin-bottom: 10px;
		}
		p.sub-text{
			font-size: 27px;
			font-family: 'ubuntu';

		}
	}
