extends _layout.jade
block header
	include ./_includes/_layout/_header.jade
block main
	include ./_includes/_layout/_celebr.jade
	include ./_includes/_layout/_advantages.jade
	include ./_includes/_layout/_form.jade
	include ./_includes/_layout/_tricks.jade
	include ./_includes/_layout/_recalls.jade
