section.advantages
	.advantages__wrap
		.container
			.advantages__title.section-title
				|Преимущества
			.advantages__list
				.advantages__item
					|Повышаем ценость Вашего события
				.advantages__item
					|Мурашки от происходящего остаются с вами надолго
				.advantages__item
					|Мурашки от происходящего остаются с вами надолго
