footer.footer
	.call-wrap#meetTo
		.container
			.container-form
				.section-title
					| Прикоснитесь к чуду
				.form__wrap
					.form__text Чтобы понять, подхожу ли я вам — <br> позвоните
						a(href='+79118337240') +7 (911) 833-72-40 <br>
						| или заполните форму ниже
					form.form__introduction(action='someServerFile' id='introduction' name='introduction')
						input.form__phone#footer__phone(type='text', name='phone' required, placeholder="+7 (___) __-__-__ ")
						button.button.button_introduct.form__submit#introduction__submit_footer(type='submit')
							|Познакомиться с Ильёй
	.corp-line
		.container
			.left-side
				a(href='#').logo-footer
					img(src='img/icons/logo.svg')
				.footer-text
					p © 2017, все права защищены. ИП Ларионов И.В.
					a(href='#').politic Политика конфиденциальности
			a.top-line__tel(href="tel:+79118337240")
				|+7 (911) 833-72-40