section.form
	.container-form
		.section-title.section-title_white
			|Илья околдовывает харизмой и обаянием
		.form__wrap
			.form__title
				|Оставьте номер телефона, чтобы убедиться в этом
			form.form__introduction(action='someServerFile' id='introduction' name='introduction')
				input.form__phone(type='tel', name='phone', id='phone' required)
				button.button.button_introduct.form__submit(type='submit')
					|Познакомиться с Ильёй