header.header
	.container
		.top-line
			a.top-line__logo(href="#")
				img.logo__img(src="img/icons/logo.svg", alt="Logo")
			a.top-line__tel(href="tel:+79118337240")
				|+7 (911)833-72-40
	.header-block
		.header-block__title.header-block__title_small
			|Фокусник В Санкт-Петербурге Илья Ларионов
		.header-block__title.header-block__title_big
			|Ваши гости будут визжать от восторга
		.header-block__button
			a.button.button_introduct(href='#meetTo')
				|Познакомиться с Ильёй




