section.recalls
	.container
		.section-title
			| Отзывы молодожёнов
		.recalls__wrap
			.recalls__item
				.recalls__title
					|Маринка Фроленкова
				.recalls__content
					|Неизбитые трюки, восхитительная подача, волшебная энергетика, обволакивающая весь зал во время выступления.
			.recalls__item.recalls__item_wide
				.recalls__title
					|Елена Рубекина
				.recalls__content
					|Уже много лет знаю Илью Ларионова. Каждый раз,когда вижу его работу на мероприятиях не перестаю удивляться его профессионализму и творческому подходу!!!Любое его появление радует людей!!!!Спасибо,Илья!!!Ты лучший!!!!)))))))))))
			.recalls__item
				.recalls__title
					|Елена Рубекина
				.recalls__content
					.img__wrap.img__wrap_video
						img.people__item-image(src='img/celebr/celebr.jpg')
			.recalls__item
				.recalls__title
					|Елена Рубекина
				.recalls__content
					.img__wrap.img__wrap_video
						img.people__item-image(src='img/celebr/celebr.jpg')
			.recalls__item
				.recalls__title
					|Маринка Фроленкова
				.recalls__content
					|Неизбитые трюки, восхитительная подача, волшебная энергетика, обволакивающая весь зал во время выступления.
			.recalls__item.recalls__item_wide
				.recalls__title
					|Елена Рубекина
				.recalls__content
					|Уже много лет знаю Илью Ларионова. Каждый раз,когда вижу его работу на мероприятиях не перестаю удивляться его профессионализму и творческому подходу!!!Любое его появление радует людей!!!!Спасибо,Илья!!!Ты лучший!!!!)))))))))))
			.recalls__item
				.recalls__title
					|Елена Рубекина
				.recalls__content
					.img__wrap.img__wrap_video
						img.people__item-image(src='img/celebr/celebr.jpg')
			.recalls__item
				.recalls__title
					|Маринка Фроленкова
				.recalls__content
					|Неизбитые трюки, восхитительная подача, волшебная энергетика, обволакивающая весь зал во время выступления.
			.recalls__item
				.recalls__title
					|Маринка Фроленкова
				.recalls__content
					|Неизбитые трюки, восхитительная подача, волшебная энергетика, обволакивающая весь зал во время выступления.
			.recalls__item
				.recalls__title
					|Маринка Фроленкова
				.recalls__content
					|Неизбитые трюки, восхитительная подача, волшебная энергетика, обволакивающая весь зал во время выступления.
		a.load_more(href='#')
			span Загрузить еще