section.tricks
	.container
		.tricks-opportunity
			p
				span.text Возможность прикоснуться к чуду.
				span.accent Гости становятся звёздами шоу
		.tricks-accent
			.text
				span Фокусы Ильи граничат с чудом

		.tricks-inner__wrap
			.tricks-inner__first
				.tricks-dynamic__wrap
					.tricks-dynamic
						p.text Динамичное шоу,  которое ваши гости смотрят на одном дыхании
					.tricks-immersion
						p.text Полное погружение в океан восторга
				.tricks-video__wrap
					.tricks-video__block
						#stopkadr
					.tricks-incredible
						p.text Невероятная атмосфера и восхитительная подача
			.tricks-tactfulness
				p.text Безукоризненная тактичность, юмор и стиль общения Ильи растопят сердца самых искушенных гостей



