section.tricks
	.container
		.tricks-opportunity
			p
				span.text Возможность прикоснуться к чуду.
				span.accent Гости становятся звёздами шоу
		.tricks-inner__wrap
			.tricks-inner__first
				.tricks-accent
					.text
						//- span Фокусы Ильи граничат с чудом
				.tricks-dynamic__wrap
					.tricks-dynamic
						p.text Динамичное шоу,  которое ваши гости смотрят на одном дыхании
					.tricks-immersion
						p.text Полное погружение в океан восторга
				.tricks-video__wrap
					.tricks-video__block
						#stopkadr
							img(src='img/stopkadr_l.jpg')
					.tricks-incredible
						p.text Невероятная атмосфера и восхитительная подача
			.tricks-tactfulness
				p.text Безукоризненная тактичность, юмор и стиль общения Ильи 
				p.sub-text растопят сердца самых искушенных гостей



