section.tricks
	.tricks-container
		.container
			.section-title
				| Фишки
		.tricks-wrap
			.container
				iframe#ytmobile(width='560', height='315', src='https://www.youtube.com/embed/R-2NVRZauEg?list=PLC_lQ2nKJ9jlz40w_7iTZ7g5lL-djQ7wv&enablejsapi=1', frameborder='0', allowfullscreen='')
				.video-wrap
					#ytplayer
					.mask-loading
						.spinner
							.double-bounce1
							.double-bounce2
				.left-side
					.tricks-item.ocean Полное погружение в океан <br> восторга
					.tricks-item.eye Динамичное шоу, которое ваши <br> гости смотрят на одном дыхании
					.tricks-item.big.atmosphere Невероятная <br>атмосфера<br> и восхитительная<br> подача
				.right-side
					.tricks-item.focus Фокусы Ильи граничат с чудом
					.tricks-item.big.star Возможность <br>прикоснуться к чуду.<br> Гости становятся <br>звёздами шоу
					.tricks-item.hearts Безукоризненная тактичность,<br> юмор и стиль общения Ильи<br> растопят сердца самых<br> искушенных гостей
