section.tricks
	.container
		.section-title
			| Фишки
		.tricks-wrap
				.left-side
					.tricks-item.ocean Полное погружение в океан восторга
					.tricks-item.eye Динамичное шоу, которое ваши гости смотрят на одном дыхании
					.tricks-item.big.atmosphere Невероятная атмосфера и восхитительная подача
				.img-wrap
					img(src='img/tricks/iliya.png')
				.right-side
					.tricks-item.focus Фокусы Ильи граничат с чудом
					.tricks-item.big.star Возможность прикоснуться к чуду. Гости становятся звёздами шоу
					.tricks-item.hearts Безукоризненная тактичность, юмор и стиль общения Ильи растопят сердца самых искушенных гостей